.chatbot{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.Wrapper{
    width: 100%;
    max-width: 800px;
    height: 500px;
    padding: 30px 30px;
    background: #e9e4e4;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.4);
}

.Wrapper .content .header{
    display: flex;
    align-items: center;
}

.Wrapper .content .header .img img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.Wrapper .content .header .right{
    margin-left: 10px;
}

.Wrapper .content .header .right .name{
    font-size: 1.3em;
    font-weight: 500;
}

.Wrapper .content .header .right .status{
    color: #363062;
    font-weight: 500;
}

.Wrapper .content .main_new{
    margin: 30px 0 0;
}

.Wrapper .content .main_new .main_new_content .messages{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Wrapper .content .main_new .main_new_content .messages .bot-message{
    width: 100%;
    padding: 15px;
    text-align: center;
    background: #FFF;
    font-style: 1.1em;
    border-radius: 10px;
    margin: 0 10px 0;
}

.Wrapper .content .main_new .main_new_content .messages .human-message{
    width: 100%;
    padding: 15px;
    text-align: center;
    background: #363062;
    color: #EDECED;
    font-style: 1.1em;
    border-radius: 10px;
    position: relative;
    top: 120px;
    margin-bottom: 30px;
}

.Wrapper .content .bottom{
    margin: 180px 0 0;
}

.Wrapper .content .bottom .btm{
    display: flex;
    align-items: center;
}

.Wrapper .content .bottom .btm .input input{
    width: 600px;
    height: 50px;
    padding-left: 36px;
    outline: none;
    border: none;
    background: #FFF;
    box-sizing: border-box;
    border-radius: 5px;
}

.Wrapper .content .bottom .btm .btn{
    margin-left: 10px;
}

.Wrapper .content .bottom .btm .btn button{
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    background: #363062;
    color: #FFF;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
}